.biobox {
    border-width: 2px;
    border-style: solid;
    border-color: black;
    width: 320px;
    padding: 10px 10px 10px 10px;
}

.newstitle{
	background-color:blue;
	color:white;
	
	padding: 10px 10px 10px 10px;
	margin: 10px 10px 10px 10px;
	clear:all;
	
}

.newssite{
	background-color:white;
	color:blue;
	padding: 10px 10px 10px 10px;
	margin: 0px 10px 10px 0px;
	float:left;
}