


 .name_container{
	 background-color:white;
	 width:768px;
	  
	 font-size:2.5em;
	 padding: 20px 20px 20px 20px;
	 
 }
 .content_container{
	 background-color:white;
	 float: relative;
	  
 }
 
 .image_container{
	 background-color:white;
	 width:330px;
	 height:344px;
	 float:left;
	 border-radius: 50%;
	 overflow: hidden;
	 font-size:2.5em;
	 margin: 20px 20px 20px 20px;
 }
 
 .bio_container {
    border-width: 2px;
    border-style: solid;
    border-color: black;
    width: 330px;
	height:344px;
    padding: 20px 20px 20px 20px;
	float:left;
}
.clear{
	clear:left;
}
.news_container{
	background-color:white;
	 
	 font-size:2.5em;
	 padding: 20px 20px 20px 20px;
}
.newstitle{
	background-color:blue;
	color:white;
	 font-size:1.5em;
	clear:all;
	
}

.newssite{
	background-color:white;
	color:blue;
	 font-size:.8em;
	float:left;
	padding:10px 10px 10px 10px;
}
#weather {
  font-size: 2em;
  margin: 1em;
}
#rss_items{
	border: 1px solid black;
	padding: 5px 5px 5px 5px;
	margin: 5px 5px 5px 5px;
	width: 500px;
	
}
.rss_title{
	font-size:1.2em;
	padding-bottom:5px;
	
}
.rss_title a{
	color:#8B0015;
	background-color:
	
}

.rss_description{
	font-size:.8em;
	padding-bottom:15px;
}
.cell{
	border:1px solid black;
	padding: 5px 5px 5px 5px;
	margin: 10px 10px 10px 10px;
	width:615px;
}
.cell_name{
	font-weight:bold;
}
.cell_address{
	font-family: Arial;
}
.cell_url{
	font-family: Arial;
	
}
.cell_url a{
	color:#000;
}
.cell_phone{
	padding-bottom:10px;
	font-family: Arial;
}